**/__pycache__/
**/deploy/build
**/target

# For Proglang
.DS_Store
test.sh
data_analysis.sh
experiment2_configs
experiment2_results
experiment2_results_analysis

#IntelliJ crap
.idea
*.ipr
*.iml
*.iws

